@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$xlFontSize: 2.85rem;
$lFontSize: 2.25rem;
$xmFontSize: 1.95rem;
$mFontSize: 1.45rem;

$primaryColor: hsl(0, 100%, 0%);
$secondaryColor: hsl(0, 100%, 100%);

$accentFontFamily: 'Roboto Mono', sans-serif;
$primaryFontFamily: 'Roboto', sans-serif;